html {
    color: slategrey;
    box-sizing: border-box;
    margin: 0;

}

.container {
    width: 50vw;
    padding: 0.5em;
    display: flex;
    text-align: center;

    justify-content: center;
    align-items: baseline;
}


h1,
h2 {
    color: rgb(218, 22, 47);
    font-family: fantasy;
    font-weight: 100;
}

h1,
h2 {
    font-family: bold;
    background-color: black;
}

body {

    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/whitebackgroundimage.jpg");

    background-size: cover;
    background-position: center;
    min-height: 100vh;

}




.differentfont {

    font-family: monospace;

}

header {
    color: red;

}


#pictures {
    color: black;
}

#features {
    color: black;
}

#worrysome {

    font-size: 2.2em;

    border: 5px solid red;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 15px;
    border-radius: 25px;

}

.worrysome {

    font-size: 2.2em;

    border: 5px solid red;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-left: 15px;
    border-radius: 25px;

}

.contactcolor {
    color: black;

}



header nav a {
    width: 50vw;
    padding: 0.5em;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: stretch;
}


a:hover {
    color: red;
}

form p {
    display: flex;
    margin-bottom: 1em;
}

form label {
    flex-basis: 33%;
}

form input,
textarea,
select {
    flex: 1;
    margin: 0 1em;
    border-radius: 5px;

}

form select {
    text-align: center;
}


@media screen and (max-width: 30rem) {

    header,
    main,
    footer,
    form p {
        flex-direction: column;
    }

    form input,
    textarea {
        margin: 2px 0;
    }
    
    .hero-text {
        flex: none
    }

    form select {
        margin: 0
    }
}
